* {
  font-family: helvetica;

}

h1 {
  margin: 0px auto;
  padding-left: 693px;
}

.wrapper {
  margin: 0px auto;
  width: 200px;
  display: inline-block;
  padding-left: 700px;
}

#img {
  margin:0px auto;
  display: block;
}
