<div>
	<p><a href="#/dashboard">Dashboard</a>  | <a href="#/">Logout</a></p>
	<h2><span ng-bind="user.name"></span></h2>
	<br>
	<h3>Activity:</h2>
	<h4><span ng-bind="user.topics.length"></span> Poll(s) created</h3>
	<h4><span ng-bind="user.comments.length"></span> Answers given</h3>
</div>
